### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr

### VS Code ###
.vscode/

### Logs ###
*.log
logs/
log/

### OS ###
.DS_Store
Thumbs.db

### Java ###
*.class

### Spring Boot ###
application-dev.yml
application-local.yml
*.pid

### Keycloak configs ###
keycloak-export.json

